<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tasks</title>
        <link rel="stylesheet" href="/css/tasks.css" />
    </head>

    <body>
        <div class="main-content">
            <div>
                {{>header}}
            </div>
            <div class="tasks-grid">
                {{#each tasks}}
                    <article class="card">
                        <h2 {{#if completed}} class="completed" {{/if}}>
                            {{description}}</h2>
                    </article>
                {{/each}}
            </div>
        </div>
    </body>

</html>