{{!-- In partials you do not set up an entire HTML document --}}

<header>
    <a href="/">Home</a>
    <a href="/tasks">Tasks</a>
    <h1>{{title}}</h1>
    {{!-- <a href="/users">Profile</a> --}}
</header>